.nav-header {
  display: flex;
  height: 520px;
  width: 100%;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: #d8ac1a;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

.nav-header p {
  font-family: 'Source Sans Pro', cursive;
  font-weight: 400;
  font-size: 1.5em;
  color: white;
  margin-top: -0.5em;
}

.nav-header p:active {
  color: #545149;
}

.content {
  margin-top: 6em;
  margin-bottom: 0px;
}

@media screen and (min-width: 1024px) {
  .page-container {
    display: flex;
  }

  .nav-header {
    width: 60%;
    margin: 12rem 1em 0 2em;
    background-color: #016e01;
  }

  .nav-header p {
    margin-bottom: 8rem;
  }
}