header {
  display: flex;
  height: 520px;
  width: 100%;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: #567500;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

header h2 {
  margin-top: -0.5em;
}

.content {
  margin-top: 6em;
  margin-bottom: 0px;
}