.new-tweet {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: 'Bungee', cursive;
}

#empty-text,
#long-text {
  margin-top: 0.5em;
  color: rgb(182, 0, 0);
  font-size: 1.2em;
  border: 3px rgb(212, 0, 0) solid;
}

#tweet-text {
  font-family: 'Source Sans Pro', cursive;
  overflow: hidden;
  display: flex;
  flex-grow: 1;
  border: none;
  flex-wrap: wrap;
  border-bottom: 3px #545149 solid;
  width: 100%;
  height: 2.5em;
  resize: none;
  background-color: transparent;
}

#tweet-text:focus {
  outline-color: #545149;
}

form footer {
  display: flex;
  justify-content: space-between;
  margin-top: 0.2em;
}

.tweet-button {
  font-size: 0.7em;
  background-color: #5978db;
  border: 1px black solid;
  color: #FFF;
}

.tweet-button:hover {
  background-color: #4056A1;
}

.tweet-button:active {
  background-color: #293c79;
}