.new-tweet {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: 'Bungee', cursive;
}

#empty-text,
#long-text {
  margin-top: 0.5em;
  color: #b60000;
  font-size: 1.8rem;
  border: 3px #d40000 solid;
  padding: 0 1rem;
  font-weight: 600;
}

#long-text {
  font-size: 1.5rem;
}

.counter {
  color: #f0f2fc;
}

.new-tweet {
  overflow: hidden;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  transition: height 2s linear, padding-top 1.5s linear, padding-bottom 1.5s linear;
}

.new-tweet.visible {
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.hidden {
  display: none;
}

#tweet-text {
  font-family: 'Source Sans Pro', cursive;
  overflow: hidden;
  display: flex;
  flex-grow: 1;
  border: none;
  flex-wrap: wrap;
  border-bottom: 3px #f0f2fc solid;
  width: 100%;
  height: 2.5em;
  resize: none;
  background-color: transparent;
  color: #f2f3f9;
  font-size: 1.8rem;
}

#tweet-text::placeholder {
  color: #f0f2fc;
}

#tweet-text:focus {
  outline-color: #585858;
}

form footer {
  display: flex;
  justify-content: space-between;
  margin-top: 0.2em;
}

.tweet-button {
  font-size: 0.7em;
  background-color: #5978db;
  border: 1px black solid;
  color: #FFF;
}

.tweet-button:hover {
  background-color: #4056A1;
  cursor: pointer;
  box-shadow: 3px 2px 2px #807c6f80
}

.tweet-button:active {
  background-color: #293c79;
}

.red {
  color: #FF3131;
}

.brown {
  color: #CC5500;
}