.tweets-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.tweets {
  margin: 1em 0;
  width: 90%;
  font-family: "Source Sans Pro", cursive;
  border: 3px #f0f2fc solid;
  font-size: 1.6rem;
  color: #f4f5f8;
}

.tweets:hover {
  box-shadow: 10px 5px 5px #807c6f80;
}

.tweets header {
  display: flex;
  width: 100%;
}

.icon-name {
  display: flex;
  flex-direction: row;
  width: 50%;
  background-color: #5380a9d6;
}

#nickname {
  display: flex;
  font-size: 1.3rem;
  color: #54514980;
  font-weight: 600;
  width: 90%;
  color: #f7f9ff;
  padding-right: 1em;
  background-color: #5380a9d6;
  flex-direction: row;
  justify-content: flex-end;
}

.icon-name img {
  margin: 0.2em 0.5em 0 0;
  padding: 0.5em 0 0 0.5em
}

.tweets #main-content {
  margin-left: 2%;
  width: 95%;
  border-bottom: 3px #f0f2fc solid;
  max-height: 200px;
  word-wrap: break-word;
}

.tweets #main-content p {
  margin-left: 0.3rem;
}

.tweets footer {
  display: flex;
  margin: -0.5em 0 0 0.8em;
  width: 95%;
  justify-content: space-between;
}

.icons {
  display: flex;
  color: #5380a9d6;
  margin-right: 0.5em;
  flex-wrap: wrap;
}

.icons p:hover {
  color: #d8ac1a;
  cursor: pointer;
}

.icons p:active {
  color: #e70b0b;
}

.fa-solid {
  padding-right: 0.35rem;
}

.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  font-size: 30px;
  color: #fff;
  background-color: #d8ac1a;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
}

.scroll-to-top:hover {
  background-color: #080808;
}

.scroll-to-top.show {
  display: block;
}


@media screen and (min-width: 1024px) {
  .container {
    margin-top: 7em;
  }

  .scroll-to-top {
    background-color: #4056A1;
  }

  .scroll-to-top:hover {
    background-color: #080808;
    ;
  }

  .icons p:hover {
    color: #4056A1;
  }

  .icons p:active {
    color: #e70b0b;
  }
}