.tweets-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.tweets {
  margin: 1em 0;
  width: 90%;
  font-family: "Source Sans Pro", cursive;
  border: 3px #545149 solid;
}

.tweets:hover {
  box-shadow: 10px 5px 5px #54514980;
}

.tweets header {
  display: flex;
  width: 100%;
}

.icon-name {
  display: flex;
  flex-direction: row;
  width: 50%
}

#nickname {
  display: flex;
  font-size: 1.3rem;
  color: #54514980;
  font-weight: 600;
  width: 90%;
  padding-right: 1em;
  flex-direction: row;
  justify-content: flex-end;
}

.icon-name img {
  margin: 0.2em 0.5em 0 0;
  padding: 0.5em 0 0 0.5em
}

.tweets #main-content {
  margin-left: 2%;
  width: 95%;
  border-bottom: 3px #545149 solid;
  max-height: 200px;
  word-wrap: break-word;
}

.tweets #main-content p {
  margin-left: 0.3rem;
}

.tweets footer {
  display: flex;
  margin: -0.5em 0 0 0.8em;
  width: 95%;
  justify-content: space-between;
}

.icons {
  display: flex;
  color: #4056A1;
  margin-right: 0.5em;
  flex-wrap: wrap;
}

.icons p:hover {
  color: #d8ac1a;
}

.icons p:active {
  color: #e70b0b;
}

.fa-solid {
  padding-right: 0.35rem;
}




@media screen and (min-width: 1024px) {
  .container {
    margin-top: 7em;
  }

}